{
  "openapi": "3.1.0",
  "info": {
    "title": "Statement2Muster DATEV & BMD Accounting Action",
    "description": "Accounting conversion action for Statement2Muster. Enables ChatGPT to turn bank statements (American Express, Wise, PayPal, Sparkasse, etc.) into DATEV EXTF 700 (Windows-1252) and Austrian BMD NTCS 5.1 CSV files. Zero Durable Storage on server (RAM-only processing, 30-minute auto-purge).\n",
    "version": "2.1.1"
  },
  "servers": [
    {
      "url": "https://api.statement2muster.com",
      "description": "Production API Server (Hetzner ISO 27001 Certified)"
    }
  ],
  "paths": {
    "/v1/gpt/convert": {
      "post": {
        "operationId": "convertStatement",
        "summary": "Convert bank statement transactions to DATEV or BMD format",
        "description": "Converts extracted transactions into German DATEV EXTF 700 (SKR03/SKR04) or Austrian BMD NTCS 5.1 format with automatic Soll/Haben mapping and ephemeral download URL.\n",
        "security": [
          {},
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GptConvertRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful conversion with download URL and financial summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GptConvertResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters or empty data"
          },
          "413": {
            "description": "Payload exceeds allowed limits (max 10 MiB, max 10,000 rows)"
          },
          "422": {
            "description": "Invalid dates, multi-year batch, or mixed currencies"
          }
        }
      }
    },
    "/v1/gpt/download/{download_id}": {
      "get": {
        "operationId": "downloadConvertedFile",
        "summary": "Download generated accounting CSV file from RAM cache",
        "description": "Streams the generated Windows-1252 encoded DATEV or BMD file directly from volatile memory. Available for 30 minutes.\n",
        "parameters": [
          {
            "name": "download_id",
            "in": "path",
            "required": true,
            "description": "Ephemeral download token returned by convertStatement",
            "schema": {
              "type": "string",
              "example": "s2m_gpt_7c3a1b2c3d4e5f6"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Windows-1252 encoded CSV file attachment",
            "content": {
              "text/csv": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "404": {
            "description": "Download link expired or purged from RAM per Zero Durable Retention policy"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT",
        "description": "Optional Statement2Muster JWT token to use paid subscription quotas (Starter, Pro, Lifetime)."
      }
    },
    "schemas": {
      "GptTransactionItem": {
        "type": "object",
        "required": [
          "booking_date",
          "amount",
          "description"
        ],
        "properties": {
          "booking_date": {
            "type": "string",
            "description": "Strict booking date in ISO YYYY-MM-DD or DD.MM.YYYY format",
            "example": "2026-03-15"
          },
          "value_date": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional valuta/value date (YYYY-MM-DD or DD.MM.YYYY)",
            "example": "2026-03-16"
          },
          "amount": {
            "type": "number",
            "format": "float",
            "description": "Signed transaction amount. Negative for expense/debit, positive for income/credit.",
            "example": -145.2
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 Currency Code (EUR, USD, CHF, GBP)",
            "default": "EUR",
            "example": "EUR"
          },
          "description": {
            "type": "string",
            "maxLength": 500,
            "description": "Payment purpose or payee (DATEV Buchungstext)",
            "example": "AWS EMEA Cloud Services"
          },
          "reference": {
            "type": [
              "string",
              "null"
            ],
            "maxLength": 100,
            "description": "Invoice number or reference (DATEV Belegfeld 1)",
            "example": "INV-99102-DE"
          },
          "contra_account": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional contra account / Gegenkonto (e.g. 4900 for SKR03)",
            "example": "4900"
          }
        }
      },
      "GptConvertRequest": {
        "type": "object",
        "properties": {
          "session_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Unique ChatGPT session ID to track demo usage",
            "example": "chatgpt-sess-88123"
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional user email",
            "example": "founder@startup.de"
          },
          "license_key": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional signed JWT access token to activate paid entitlements",
            "example": "eyJhbGciOiJSUzI1Ni..."
          },
          "bank_name": {
            "type": "string",
            "description": "Card issuer or bank name",
            "default": "Bank Statement",
            "example": "American Express Business"
          },
          "export_format": {
            "type": "string",
            "enum": [
              "datev",
              "bmd",
              "muster_csv"
            ],
            "default": "datev",
            "description": "Target format (datev = DATEV EXTF 700, bmd = BMD NTCS 5.1)"
          },
          "default_bank_account": {
            "type": [
              "string",
              "null"
            ],
            "description": "Bank ledger account (default: 1200 for DATEV, 2800 for BMD)",
            "example": "1200"
          },
          "transactions": {
            "type": [
              "array",
              "null"
            ],
            "description": "Array of extracted transactions from document",
            "items": {
              "$ref": "#/components/schemas/GptTransactionItem"
            }
          },
          "raw_content": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional raw CSV or text"
          },
          "file_base64": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional base64-encoded PDF or CSV document"
          },
          "filename": {
            "type": "string",
            "description": "Original statement filename",
            "example": "amex_statement_march_2026.pdf"
          }
        }
      },
      "FinancialSummary": {
        "type": "object",
        "properties": {
          "transaction_count": {
            "type": "integer",
            "example": 42
          },
          "total_debit": {
            "type": "number",
            "format": "float",
            "description": "Total sum of expenses / debits (negative)",
            "example": -4890.5
          },
          "total_credit": {
            "type": "number",
            "format": "float",
            "description": "Total sum of revenues / credits (positive)",
            "example": 12500.0
          },
          "net_balance": {
            "type": "number",
            "format": "float",
            "description": "Net period turnover (Credit + Debit)",
            "example": 7609.5
          },
          "currency": {
            "type": "string",
            "example": "EUR"
          },
          "date_from": {
            "type": [
              "string",
              "null"
            ],
            "example": "2026-03-01"
          },
          "date_to": {
            "type": [
              "string",
              "null"
            ],
            "example": "2026-03-31"
          }
        }
      },
      "FreeTierStatus": {
        "type": "object",
        "properties": {
          "is_unlimited": {
            "type": "boolean",
            "description": "True if covered by active paid subscription",
            "example": false
          },
          "plan": {
            "type": [
              "string",
              "null"
            ],
            "description": "Active plan code (starter, pro, lifetime) if licensed",
            "example": "pro"
          },
          "conversions_used": {
            "type": "integer",
            "description": "Number of free conversions already used",
            "example": 1
          },
          "remaining_free_conversions": {
            "type": "integer",
            "description": "Number of free conversions remaining",
            "example": 2
          },
          "max_free_conversions": {
            "type": "integer",
            "description": "Maximum allowed free conversions without license",
            "example": 3
          },
          "limit_reached": {
            "type": "boolean",
            "description": "True if free tier limit has been exhausted",
            "example": false
          }
        }
      },
      "GptConvertResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success",
              "warning",
              "error",
              "limit_reached"
            ],
            "example": "success"
          },
          "message": {
            "type": "string",
            "example": "Erfolgreich 42 Buchungssätze in DATEV konvertiert."
          },
          "export_format": {
            "type": "string",
            "example": "datev"
          },
          "filename": {
            "type": "string",
            "example": "DATEV_EXTF_American_Express_20260326_120000.csv"
          },
          "download_id": {
            "type": "string",
            "example": "s2m_gpt_7c3a1b2c3d4e5f6"
          },
          "download_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "Clickable temporary download link (valid for 30 minutes in RAM)",
            "example": "https://api.statement2muster.com/v1/gpt/download/s2m_gpt_7c3a1b..."
          },
          "file_base64": {
            "type": [
              "string",
              "null"
            ],
            "description": "Base64-encoded CSV content for small batches"
          },
          "expires_in_minutes": {
            "type": "integer",
            "example": 30
          },
          "summary": {
            "$ref": "#/components/schemas/FinancialSummary"
          },
          "preview_csv": {
            "type": "string",
            "description": "First 5 lines of the generated accounting file for verification"
          },
          "free_tier_status": {
            "$ref": "#/components/schemas/FreeTierStatus"
          },
          "notes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "upgrade_info": {
            "type": "object",
            "description": "Stripe checkout links to purchase or upgrade"
          }
        }
      }
    }
  }
}